.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background: white;
}
.content {
  display: flex;
  height: 100%;
  width: 100%;
}
.content_view {
  display: flex;
  height: 100%;
  width: 100%;
  background: rgba(154, 126, 123, 0.126);
  flex-direction: column;
}