.app {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.content {
    display: flex;
    height: 100%;
    width: 100%;
}
.login_wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login_widget {
    display: flex;
    height: 100%;
    width: 400px;
    height: 400px;
    background: white;
    box-shadow: 1px 1px 16px 1px rgb(206, 206, 206);
    border-radius: 6px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}
.login_widget > form {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}
.login_widget > form > * {
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}
.login_widget > form > input {
    display: flex;
    height: 40px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 0.5px solid rgb(252, 210, 252);
}
.login_widget > form > input:focus {
    outline: none;
    box-shadow: 1px 1px 4px 1px rgb(187, 187, 187);
    border: none;
}
/* .login_widget > form > input:hover {
    border: 0.5px solid salmon;
} */
.login_widget > form > button {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    background: none;
    border: 0.5px solid gray;
}
.login_widget > form > button:hover {
    border: 0.5px solid salmon;
    background: salmon;
    cursor: pointer;
    color: white;
}
.login_widget > a {
    color: rgb(119, 119, 242);
}
.login_widget > a:hover {
    text-decoration: underline;
    color: salmon;
}
.active {
    color: red;
}